<div class="content">
    
      <div class="details" >
        <mat-card  >
            <img mat-card-image  src="{{userdetails.avatar_url}}" >
            <mat-card-content>
           <h3><p>User Name : {{userdetails.login}}</p></h3>
          
         
              <p>User Id : {{userdetails.node_id}}</p>
              <p><a href="{{userdetails.url}}" >{{userdetails.url}} </a></p>
              <p>avatar_url : {{userdetails.avatar_url}} </p>
              <p>bio :{{userdetails.bio}}</p>
              <p>blog : {{userdetails.blog}}</p>
              <p>company : {{userdetails.company}}</p>
              <p>created_at : {{userdetails.created_at}}</p>
              <p>email : {{userdetails.email}}</p>
              <p>events_url : {{userdetails.events_url}}</p>
              <p>followers : {{userdetails.followers}}</p>
              <p>followers_url : {{userdetails.followers_url}}</p>
              <p>following : {{userdetails.following}}</p>
              <p>following_url : {{userdetails.following_url}}</p>
              <p>gists_url : {{userdetails.gists_url}}</p>
                <p>gravatar_id : {{userdetails.gravatar_id}}</p>
                <p>hireable : {{userdetails.hireable}}</p>
                <p>html_url : {{userdetails.html_url}}</p>
                <p>id : {{userdetails.id}}</p>
                <p>location : {{userdetails.location}}</p>
                <p>login : {{userdetails.login}}</p>
                <p>name : {{userdetails.name}}</p>
                <p>node_id : {{userdetails.node_id}}</p>
                <p>organizations_url : {{userdetails.organizations_url}}</p>
                <p>public_gists : {{userdetails.public_gists}}</p>
                <p>public_repos : {{userdetails.public_repos}}</p>
                <p>received_events_url : {{userdetails.received_events_url}}</p>
                <p>repos_url : {{userdetails.repos_url}}</p>
                <p>site_admin : {{userdetails.site_admin}}</p>
                <p>starred_url : {{userdetails.starred_url}}</p>
                <p>subscriptions_url : {{userdetails.subscriptions_url}}</p>
                <p>twitter_username : {{userdetails.twitter_username}}</p>
                <p>type : {{userdetails.type}}</p>
                <p>updated_at : {{userdetails.updated_at}}</p>
                <p>url : {{userdetails.url}}</p>
          </mat-card-content>
         
        </mat-card>
      </div>
    
 </div>
  